<ion-app>

  <ion-menu menuId="main-menu" [type]="menuType" contentId="main-content">
    <ion-header>
      <ion-toolbar id="toolbar-menu">
        <ion-title>Acesso Rápido</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="full-width-content">
      <div class="button-container">
      <ion-button class="full-width-button home" routerLink="/home" (click)="botaoHome()" (click)="closeMenu()">
          <ion-icon slot="start" name="home"></ion-icon>
          Home
        </ion-button>
        
        <ion-button class="full-width-button login" routerLink="/login" (click)="botaoLogin()" (click)="closeMenu()">
          <ion-icon slot="start" name="log-in"></ion-icon>
          Login
        </ion-button>
        
        <ion-button class="full-width-button register"  routerLink="/register" (click)="botaoCadastro()" (click)="closeMenu()">
          <ion-icon slot="start" name="person-add"></ion-icon>
          Cadastro
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
