<ion-menu>


</ion-menu>


<!-- conteudo da página -->
<div class="ion-page" id="main-content">

  <!-- header da página principal -->
  <ion-header>
    <ion-toolbar class="main-header">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
     
        <img id="brunch-logo-white" src="../../assets/images/brunch-white.png" alt="Imagem da logo Brunch">
      
    </ion-toolbar>

  </ion-header>

  <!-- content da página principal -->
  <ion-content class="ion-padding main-container">
    
  </ion-content>

</div>