<!-- conteudo do menu -->
<ion-menu [type]="menuType" content-id="main-content">
  <!-- header do menu -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Conteúdo do Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- content do menu -->
  <ion-content class="ion-padding">
      <ion-button expand="block" color="dark" routerLink="/home" (click)="closeMenu()">Home</ion-button>
      <ion-button expand="block" color="dark" routerLink="/login" (click)="closeMenu()">Login</ion-button>
  </ion-content>

</ion-menu>


<!--  -->


<!-- conteudo da página -->
<div class="ion-page" id="main-content">

  <!-- header da página principal -->
  <ion-header>
    <ion-toolbar class="main-header">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
     
        <img id="brunch-logo-white" src="../../assets/images/brunch-white.png" alt="Imagem da logo Brunch">
      
    </ion-toolbar>

  </ion-header>

  <!-- content da página principal -->
  <ion-content class="ion-padding main-container">
    
    <div class="login-wrapper">
       

      <ion-card class="login-card">
        
        

        <ion-card-content class="card-content">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1 id="titulo">Cadastro</h1>
              </ion-col>
            </ion-row>


            <ion-row>
              <ion-col>

                <ion-input 
                    class="iconInput"
                    label="Nome Completo" 
                    label-placement="floating" 
                    fill="outline" 
                    placeholder="Digite o Nome Completo"
                    color="dark">
                    <ion-icon slot="start" name="man" aria-hidden="true"></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>

                <ion-input 
                    class="iconInput"
                    label="Usuário" 
                    label-placement="floating" 
                    fill="outline" 
                    placeholder="Digite o Usuário"
                    color="dark">
                    <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>

                <ion-input 
                    class="iconInput"
                    label="Email" 
                    label-placement="floating" 
                    fill="outline" 
                    placeholder="Digite o Email"
                    color="dark">
                    <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
                </ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
               
                <ion-input 
                label="Senha" 
                label-placement="floating" 
                fill="outline" 
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Digite a senha"
                color="dark">
               
                  <ion-icon 
                  class="iconInput"
                  slot="start" 
                  [name]="showPassword ? 'lock-open' : 'lock-closed'" 
                  (click)="showPassword = !showPassword"
                ></ion-icon>
              </ion-input>
               
              </ion-col>
            </ion-row>

            

            <ion-row>
              <ion-col>
                <ion-checkbox labelPlacement="end" color="dark">
                  <ion-label id="colorRememberMe">I agree to the <a href="#" (click)="$event.stopPropagation()">terms and conditions</a>
                  </ion-label>
                </ion-checkbox>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button id="btEntrar" expand="block">Cadastrar-se</ion-button>
              </ion-col>
            </ion-row>

            

            <ion-row>
              <ion-col id="forgetPassword">
                
              </ion-col>
            </ion-row>


          </ion-grid>
        </ion-card-content>

      </ion-card>
      
    </div>
          
       
  </ion-content>

</div>